/*全体*/
html{
    text-align: center;
    margin: auto;
    width: 700px;
    /* background-color: black; */
}
/*ロゴの画像*/
.rogo{
    border-radius: 50%;
}
/*4つのメニュー*/
.menu4{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
/* .m1,.m2,.m3,.m4,.m5{
} */
/* リンクtop... */
a{
    text-decoration: none;
}

a:hover{
    color: red;
}

/*写真(ミット打ち）*/
.topgazou , .home{
    width: 700px;
    height: auto;
    position: relative;
    margin-top: 20px;
}
/* 画像の文字 */
.topgazou p , .home p{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 70px;
    white-space: nowrap;
}

.home a{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 50px;
    white-space: nowrap;
}


.topgazou img, .home img{
    width: 100%;
}

div{
    display: flex;
    justify-content: flex-start;
}

.setumei{
    display: flex;
    text-align: left;
    font-size: 15px;
}





