html{
    text-align: center;
    margin: auto;
    width: 700px;
    /* background-color: black; */
}
/*ロゴの画像*/
.rogo{
    border-radius: 50%;
}

.menu4{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

.setumei{
    text-align: left;
    margin-bottom: 20px;
}
