html{
    text-align: center;
    margin: auto;
    width: 700px;
    /* background-color: black; */
}

/*ロゴの画像*/
.rogo{
    border-radius: 50%;
}

/* お問い合わせ */
form{
    text-align: left;
}
/* メニュー */
.menu4{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

/* .m1,.m2,.m3,.m4,.m5{
    background-color: pink;
    border: 1px solid black;
} */

a{
    text-decoration: none;
}

a:hover{
    color: red;
}

/* 問い合わせ種別 */
dt{
    font-size: 28px;
}
/* 入力欄 */
.naiyou{
    width: 250px;
    height: 40px;
    font-size: 20px;
}


